{% extends 'base_user.html'%}

{% load static %}

{% block title %}
    {{ block.super }}
    注册
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="container">
        <form action="{% url 'axfuser:register' %}" method="post" enctype="multipart/form-data" onsubmit="return parse1()">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputName">用户名字</label>
                <input name='name' type="text" class="form-control" id="exampleInputName" placeholder="用户名字3到6个字母">
                <span id="nameinfo"></span>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">密码</label>
                <input name="password" type="password" class="form-control" id="password" placeholder="请输入密码">
            </div>
            <div class="form-group">
                <label for="exampleInputPasswordConfirm">确认密码</label>
                <input name="passwordconfirm" type="password" class="form-control" id="passwordconfirm" placeholder="请再次输入密码">
                <span id="passwordinfo"></span>
            </div>
            <div class="form-group">
                 <label for="inputEmail3">邮箱</label>
                 <input name="email" type="email" class="form-control" id="inputEmail3" placeholder="请输入邮箱">
                 <span id="emailinfo"></span>
             </div>
            <div class="form-group">
                <label for="exampleInputFile">头像</label>
                <input name="icon" type="file" id="exampleInputFile">
            </div>
            <button type="submit" class="btn btn-success btn-block">注册</button>
        </form>
    </div>
{% endblock %}

{% block ext_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'axf/user/js/user.js' %}"></script>
{% endblock %}